.title {
    display: block;
    width: 100%;
    font-family: 'Sansita Swashed', cursive;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
}
.auth {
    height: 100vh;
    width: 99.2%;
}
.auth-bg {
    background: url("https://previews.123rf.com/images/artmim/artmim1903/artmim190300506/120077688-beautiful-pretty-model-woman-in-red-dress-and-high-heels-shoes-standing-on-white-banner-background-w.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.form-group {
    margin-bottom: 2rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #555555;
    line-height: 1.2;
    padding: 0 2px;
    border: 0;
    border-bottom: 2px solid gray;
    border-radius: 0;
}

.main-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: auto;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    background: #febccb;
}
.auth-action {
    padding: 15px;
}
